Package: aam-wx-alerts
Version: 0.5
Depends: curl
Provides:
Source: package/aam-wx-alerts
Section: net
Priority: optional
Maintainer: Steve Lewis (AB7PA)
Architecture: all
Description: Tool for NWS alert query by zone
